.result-area{
    margin-left: 30px;
    margin-right: 30%;
}
.search-term{
    margin-left: 30px;
    font-size: 12px;
    margin-top: 30px;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.youtube-image{
    margin-right: 20px;
    min-width: 280px;
    min-height: 130px;
    max-height: 130px;
    max-width: 280px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #465870;
}
.no-border-radius{
    border-radius: 0;
}
p.title{
    color: #465870;
}
a.owner, a.description, p.duration{
    font-size: 12px;
}
a.owner, a.description{
    text-decoration: none;
}
a.owner, p span.views, a.description, p.duration{
    color: #8D9798;
}
hr{
    border: 0;
    height: 1px;
    background-color: #EEEEEE;
    margin: 15px 0;
}
p.views-paragraph{
    margin-top: 3px;
    align-items: flex-end;
}
p span.views-figure{
    color: #E73E48;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 3px;
    margin-right: 5px;
}

p span.views-figure, p span.views{
    font-size: 14px;
}

@media (max-width: 760px) {
    .result-area{
        margin-left: 20px;
        margin-right: 20px;
    }
    .youtube-image{
        min-width: 100%;
        margin-bottom: 10px;
    }
}